<%= form_with(model: kindergarten, class: "row g-3") do |form| %>
  <% if kindergarten.errors.any? %>
    <div class="col-md-12" style="color: red">
    
        <% kindergarten.errors.each do |error| %>
          
        <div class="alert alert-danger alert-dismissible fade show border-0 shadow-sm" role="alert">
          <%= error.full_message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <% end %>
     
    </div>
  <% end %>
  <div class="col-md-12">
    <%= form.label :image, "Portada", class: "form-label" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label :name, "Titulo", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label :phone, "Teléfono", class: "form-label" %>
    <%= form.number_field :phone, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label :price, "Precio", class: "form-label" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>
  <div class="col-md-6">
    <%= form.label :city_id, "Ciudad", class: "form-label" %>
    <%= form.collection_select :city_id, City.all, :id, :name, { prompt: "Elije una ciudad" }, class: "form-select" %>
  </div>
  <div class="col-md-12">
    <%= form.label :description, "Descripción", class: "form-label" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
<div class="col-md-12">
  <%= form.label :pet_ids, "Mascotas aceptadas", class: "form-label" %>
  <ul class="list-unstyled row row-cols-2 row-cols-md-5 mb-3 col-12">
    <% Pet.all.each do |pet| %>
      <li class="col">
        <div class="form-check">
          <%= form.check_box :pet_ids, { multiple: true, class: "form-check-input" }, pet.id, nil %>
          <%= form.label :pet_ids, pet.name, class: "form-check-label" %>
        </div>
      </li>
    <% end %>
  </ul>
</div>


  <div class="col-md-12">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
