<%= form_with(model: kindergarten) do |form| %>
  <% if kindergarten.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(kindergarten.errors.count, "error") %> prohibited this kindergarten from being saved:</h2>

      <ul>
        <% kindergarten.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :city_id, style: "display: block" %>
    <%= form.collection_select :city_id, City.all, :id, :name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.number_field :phone %>
  </div>

  <%= form.label :pet_ids, "Pets" %>
  <% Pet.all.each do |pet| %>
    <%= form.check_box :pet_ids, { multiple: true }, pet.id, nil %>
    <%= pet.name %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
