  <%= image_tag kindergarten.image, class: "w-100 rounded-2 shadow" if kindergarten.image.attached? %>
<div id="<%= dom_id kindergarten %>" class="card shadow border-0 my-3">
  <div class="card-body">
    <h3 class="card-title fw-bold"><%= kindergarten.name %></h3>
    <p class="text-muted"><%= kindergarten.description %></p>
    <div class="row mt-4">
        <p><strong>Disponible en:</strong> <%= kindergarten.city.name %></p>
        <p><strong>Mascotas permitidas:</strong> <%= kindergarten.pets.map(&:name).join(", ") %></p>
      <div class="col-md-6">
        <p><strong>Llamanos al:</strong> <%= kindergarten.phone %></p>
      </div>
      <div class="col-md-6">
        <p><strong>Contáctanos en:</strong> <%= kindergarten.user.email %></p>
      </div>
        <p class=" fs-1 fw-bold text-success"><%= number_to_currency(kindergarten.price, precision: 0, delimiter: ".", separator: ",") %></p>
    </div>
  </div>
</div>
