<div id="<%= dom_id kindergarten %>" class="card shadow-sm border-0">
  <div class="card-body">
    <p>
      <strong>Name:</strong>
      <%= kindergarten.name %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= kindergarten.description %>
    </p>

    <p>
      <strong>City:</strong>
      <%= kindergarten.city.name %>
    </p>

    <p>
      <strong>Phone:</strong>
      <%= kindergarten.phone %>
    </p>

    <p>
      <strong>User:</strong>
      <%= kindergarten.user.email %>
    </p>

    <p class="mb-0">
      <strong>Pets:</strong>
      <%= kindergarten.pets.map(&:name).join(", ") %>
    </p>

  </div>
</div>
